body {
    background-color: #FFE399;
    font-family:'Courier New', Courier, monospace
}

.title {
    font-size: 50px;
    text-align: center;
}

.subtitle {
    font-size: 25px;
    text-align: center;
}

div {
    background-color: #E899FF;
    width: 600px;
    font-size: 20px;
    border: 30px solid #E899FF;
    border-radius: 40px;
}

.fatdiv {
    background-color: #E899FF;
    width: 1000px;
    font-size: 20px;
    border: 50px solid #E899FF;
    border-radius: 40px;
}



img {
    border-radius: 50px;
    width:450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }