body {
    background-image: url(https://img.freepik.com/premium-photo/white-watercolor-paper-texture-seamless-square-background-tile-ready-high-quality-texture-extremely-high-resolution_463999-342.jpg);
    font-family:'Optima', Courier, monospace
}

.title {
    font-size: 50px;
    text-align: center;
}

.subtitle {
    font-size: 25px;
    text-align: center;
    list-style-position: inside;
}

div {
    background-image: url(https://i.pinimg.com/originals/e7/8f/52/e78f5248d0b9f9488b3ca700df0be9ba.png);
    font-size: 20px;
    text-align: left;
    padding: 30px;
    border-radius: 10px;
}

.fatdiv {
    background-image: url(https://i.pinimg.com/originals/e7/8f/52/e78f5248d0b9f9488b3ca700df0be9ba.png);
    font-size: 20px;
    padding: 30px;
    text-align: left;
    border-radius: 10px;
}

img {
    border-radius: 50px;
    width:450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

a:link {
    color:black;
    text-decoration:none;
}

a:visited {
    color:black;
    text-decoration:none;
}

a:hover {
    color:black;
    text-decoration:none;
    font-size: 30px;
}

a:active {
    color:grey;
    text-decoration:none;
}

.creds {
    bottom: 0%;
    position: fixed;
}